In [1]:
import numpy as np
import pandas as pd
from sklearn import linear_model

In [2]:
df = pd.read_csv('car_risk.csv')

# data processing

In [13]:
df.experience

0     5.0
1    13.0
2     4.0
3     5.0
4     3.0
5     8.0
Name: experience, dtype: float64

In [8]:
miss_data = df.experience.median()

In [10]:
df.experience = df.experience.fillna(miss_data)

In [11]:
df.experience

0     5.0
1    13.0
2     4.0
3     5.0
4     3.0
5     8.0
Name: experience, dtype: float64

In [12]:
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         5.0    60
4    140        5         3.0    82
5    115        2         8.0    10

# data fit

In [15]:
#creating object
reg = linear_model.LinearRegression()

In [16]:
#data fitting
reg.fit(df[['speed','car_age','experience']], df.risk)

LinearRegression()

# prediction

In [17]:
reg.predict([[160,10,5]])

C:\Users\USER\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([71.37146872])

In [18]:
# equation
reg.coef_

array([ 0.33059217,  1.61053246, -6.20772074])

In [19]:
reg.intercept_

33.410000910435855

# Y = m1*x1 + m2*x2 + m3*x3 + c
#Y = 0.33059*x1 + 1.61053*x2 -6.2077*x3 + 33.41